.ms
{
    display: inline-block;
    position: relative;
    color:white
}
body
{
    background-color: black;
}
.div
{
    position: relative;
    display: inline-block;
    bottom: 300px;
}
.img
{
    display: inline-block;
    position: relative;
    left: 275px;

}
.seperator
{
    display: inline-block;
    position: relative;
    color: white;
}
.min
{
    display: inline-block;
    position: relative;
    margin-left: 600px;
    color: white
}
.hr
{
    display: inline-block;
    position: relative;
    

}
.sec
{
    display: inline-block;
    position: relative;
    color: white

}
.div2
{
    display: inline-block;
    position: relative;

}
.body
{
    margin: 0;
}
.start
{
    position: relative;
    display: inline-block;
    bottom: 100px;
    font-size: 25px;
}
.pause
{
    position: relative;
    display: inline-block;
    bottom: 80px;
    font-size: 25px;
}
.img2
{
    width: 100%;
    height: 100%;
}
/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  bottom: 600px;
  left: 300px;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  height: 100px;
  width: 200px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
a
{
    font-weight: 600;
    font-size: 18px;
    color: #422800;
    text-align: center;
    text-decoration: none;
}
.time
{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 100px;
    left: 500px;
    bottom: 750px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}